version: '3.8'

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: altravionix
    ports:
      - "5000:5000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WDS_SOCKET_PORT=0
    volumes:
      - .:/app
      - /app/node_modules
    stdin_open: true
    tty: true